<ion-content>
    <div class="background">
        <p>
            <img src="assets/images/beeinlearn.png" style="vertical-align:middle; width: 40px; height: 40px;">
           Buzz Party
        </p>              
        <img src="assets/images/hexagonalimageofparty.png" class="logo mb-1 mt-3 d-block mx-auto"
        alt="logo"> 
                                            <dl>
                                                <dt>Definition list</dt>
                                                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                             aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                             commodo consequat.</dd>
                                                <dt>Lorem ipsum dolor sit amet</dt>
                                                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                             aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                             commodo consequat.</dd>
                                             <dt>Definition list</dt>
                                             <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                          commodo consequat.</dd>
                                            
                                             </dl>
                                             <div class="text-center">
                                                <button class="btn btn-primary mt-2 mb-4 btn-sm btn-round px-5" text-center
                                                (click)="booknow()">Book Now</button>
                                           
                                             </div>
                                                  </div>
                               
   
  </ion-content>