.btn-primary, .btn-primary:hover, .list-group-item.active {
        color: #000;
        background: var(--p-color);
        border-color: #fde277;
        height: 7vh;
        width: 55vw;
        font-size: 25px;
    }
    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
        padding: 50px;
    } 
.login-wrapper::before{
        border: 10px solid #FDE277;
        margin-bottom:0;
        border-radius: 0;
        padding: 0px;
}
.form-group.input-group {
    border: 3px solid #FDE277;
    /* border-bottom: 0; */
    border-radius: 11px;
    background: #fff;
    height: 9vh;
    box-shadow: 2px 2px 11px 1px #2546a517;
}
.form-control {
    /* border-bottom: 1px solid #a0a0a0 !important; */
    border: none;
    border-radius: 0;
    outline: none !important;
    padding: 5px 0;
    height: auto;
    box-shadow: none !important;
    background: none;
    color: #222;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
p{
    font-size: 15px;
    color: var(--p-color);
}
.logo{
    height: 25vh;
    width: 60vw;
}
.img-fluid1{
    width: 55vw;
    height: 13vw;
}