<ion-content>
  <div class="login-wrapper">
      <div class="flex-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="col-sm-10 col-md-6 p-0 wow fadeInDown">
                          <img src="assets/images/logo.png"  class="logo mb-2 d-block mx-auto"
                              alt="logo">

                          <div class="login-form c-form">
                              <div class="row">
                                <div class="col-sm-12">
                                     <div class="form-group input-group">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text">
                                              </span>
                                          </div>
                                          <ion-input type="email" class="form-control"
                                              [(ngModel)]="email" placeholder="Email"></ion-input>
                                              
                                      </div>
                                      <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <ion-input type="{{type}}" class="form-control" maxlength="10" id="password"
                                            [(ngModel)]="password" placeholder="Password"></ion-input>

                                            <img *ngIf="showPass" src="assets/images/eye.png" style="position: relative;top: 10px; margin-right: 10px;"  height="22px" width="22px"  (click)="showPassword()">
                                            <img *ngIf="!showPass" src="assets/images/closeeye.png" style="position: relative;top: 10px; margin-right: 10px;"  height="22px" width="22px"  (click)="showPassword()">

                                        </div>
                                    <div class=text-right>
                                        <p (click)="forgotpassword()">
                                            Forgot Password?
                                        </p>
                                    </div>
                                      <div class="text-center">
                                          <button class="btn btn-primary mt-4 btn-sm btn-round px-5"
                                              (click)="login()">Sign In</button>
                                             
                                              <img src="assets/images/or.png" width="40vw" class="img-fluid mb-3 mt-3 d-block mx-auto"
                                              alt="logo">

                                              <img src="assets/images/google_signin.png" class="img-fluid1 mb-4 d-block mx-auto"
                                              alt="logo">
                                            
                                            </div>
                                            
                                            <div class=text-center>
                                                <p (click)="signup()">
                                                    Don't have an account yet? Sign Up 
                                                </p>
                                            </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
         
  </div>
</ion-content>